body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

article {
    margin-bottom: 2em;
}

article header {
    margin-bottom: 1em;
}

article h2 {
    margin: 0;
}

article p {
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin-top: 100%;
}

.sentence {
    margin-top: px;
}

/*class of the div that plays the role of a button to display the text area when the value is none*/
.postdiscussion {
    background-color: rgb(107, 142, 239);
    height: 28px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: 10px;
    width: 155px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    outline: 5px;


    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/*class of the div that contains the text area*/
.texcontainerdiv {
    height: 100%;
    width: 100%;
    margin-top: 4px;
    display: none;
}

/* class of the text area */
.textareas {
    z-index: 1;
    width: 95%;
    height: 300px;

}